<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= @user.first_name %> <%= @user.last_name %>
  <br/>
  <%= @user.email %>
  <br/>
  <% if @user.confirmed %>
          <%= @user.edu_email %>
          <br/>
  <% end %>
  <%= @user.title %>
  <br/>
  <%= @user.organization %>
  <br/>
  <br/>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, ['author', 'moderator', 'administrator', 'viewer'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>