<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Disciplines</th>
      <th>.edu email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
        <% UserDiscipline.all.each do |discipline| %>
          <% if discipline.user_id == user.id %>
            <%= Discipline.find(discipline.discipline_id).title %><br/>
          <% end %>
        <% end %>
        </td>
        <td><%= user.edu_email %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_path(user.id) %></td>    
      </tr>
    <% end %>
  </tbody>
</table>