<h1>Additional Information</h1>

<% @user = User.find_by_id(params[:id]) %>
<% @disciplines = Discipline.all %>
<%= form_for(@user, url: registration_edit_path(@user), html: { method: :put }) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br/>
    <%= @user.email %>
    <br/>
    <p>Thanks for visiting. Please provide us with .edu email and your desired role and disciplines.</p>
    <br/>

    <div class="field">
      <%= form.label '.edu email' %>
      <%= form.text_field :edu_email %>
    </div>
  
    <div class="field">
      <%= form.label 'Desired Role' %>
      <%= form.select :desired_role, ['author', 'moderator', 'administrator', 'viewer'] %>
    </div>

    <div class="field">
      <%= form.label 'Desired Discipline (Primary: Additional Disciplines can be requested later)'  %>
      <%= form.collection_select(:desired_disciplines, Discipline.all, :id, :title ) %>
    </div>

    <div class="field">
      <%= form.label 'First name' %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label 'Last name' %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label 'Organization' %>
      <%= form.text_field :organization %>
    </div>

    <div class="field">
      <%= form.label 'Title' %>
      <%= form.text_field :title %>
    </div>
    
    <div class="actions">
      <%= form.submit "Submit Request" %>
    </div>
  <% end %>

