<br/>
<br/>

<h1>
  <%= @user.first_name %> <%= @user.last_name %>
</h1>

<p>
  <%= "Email: #{@user.email}" %>
</p>

<p>
  <%= "Role: #{@user.role}" %>
</p>

<p>
Disciplines:
<% @user_disciplines = UserDiscipline.where(user_id: @user.id) %>
<br/>
<% @user_disciplines.each do |discipline| %>
  <%= Discipline.find(discipline.discipline_id).title %>
  <br/>
<% end %>
</p>