<%= form_with(model: discipline_request, local: true) do |form| %>
  <% if discipline_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discipline_request.errors.count, "error") %> prohibited this discipline_request from being saved:</h2>

      <ul>
        <% discipline_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
      <%= form.label 'Discipline'  %>
      <%= form.collection_select(:discipline_id, Discipline.all, :id, :title ) %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
