<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to 'Boards', boards_path %> |
    <%= link_to 'Log In', sign_in_path %> |
    <%= link_to 'Log Out', sign_out_path %> |
    <%= link_to 'Admin', users_path %> |

    <% if current_user %>
      <%= " | Logged in as: #{current_user.email}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
